:root {
  --bg: white;
  --fg: #007BFF;
  --header-txt: white;
  --btn-bg: #007BFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1b1b1b;
    --fg: #012c5a;
    --header-txt: #a7bda2;
    --btn-bg: #007bff85;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background: var(--bg);
}

header {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(1, 0, 0, 0.2);
  color: var(--header-txt);
  background: var(--fg);
  font-weight: bold;
  font-size: 2rem;
}

main {
  height: 80vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

ul {
  display: grid;
  grid-template-columns: auto auto;
  list-style: none;
  margin: 10rem 0;
  padding: 0;
  justify-content: center;
}

@media (max-width: 48rem) {
  ul {
    display: flex;
    flex-direction: column;
  }
}

button {
  margin: 1rem 1rem 0.2rem 1rem;
  padding: 1.5em;
  width: 15rem;
  font-size: 1rem;
  border: 0;
  background: var(--btn-bg);
  border-radius: 4px;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: #0056b3;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--fg);
  color: var(--header-txt);
  padding: .5rem;
}

@media (max-width: 48rem) {
  footer {
    display: none;
  }
  ul {
    margin: 5rem 0;
  }
}

#status{
  margin: 0.5rem 0;
}

.idle{
    color: var (--header-txt);
}

.sending{
    color: green
}

.error{
    color: red;
}